html, body {
  height: 100%;
  width: 100%;
}
h1 {
  text-align: center;
  font-size: 80px;
}
body{
  background-image: url("https://images.unsplash.com/photo-1602629978879-e7ed887988d1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80");
  background-repeat: no-repeat;
  background-size: cover;
}
.butt1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}
.butt2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.thingOne{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  width: 400px;
}

.thingTwo{
  display:none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  width: 400px;
}